.icon-wrapper .icon {
    color: rgb(243, 145, 46) ;
    width: 36px;
    height: 36px;
}

.loop-icon{
    width: 56px;
    height: 56px;
    color: rgb(243, 145, 46) ;
    margin-top: 20px;
    margin-right: 70px;
}
.icon-wrapper {
    padding-top: 10px;
    display: inline-block;
}

.play-icon {
    width: 36px;
    height: 36px;
    color :white;
}

.sm-icon img
{
    width: 28px ;
    height: 28px ;
}

.lg-icon
{
    width: 56px ;
    height: 56px ;
    margin-top: 10px;
    color: orange;
}

.lg-icon img
{
    width: 56px ;
    height: 56px ;

}
.icon.book {
    color: orange;
    font-size: 48px;
}

.icon.play {
    color: orange;
    font-size: 16px;
    position: absolute;
    bottom: -8px;
    right: -8px;
}

.thinking-icon {
    width: 1px;
    height: 1px ;
    color: orange;
}
